<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Part 3</title>
</head>
<body>
    <form action="/" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br>
        <label for="phone">Phone number: </label>
        <input type="text" id="phone" name="phone"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>