<div class="header">
    <table>
        <tr>
            <td>
                <h1>AdoptSpot</h1>
            </td>
            <td><a href="/"><img src="images/logo.png" class="logo"
                        title="Paws icon credit to flaticon.com"></a></td>
        </tr>
    </table>
    <h2 id="date"></h2>
</div>