<!DOCTYPE html>
<html lang="en">

<head>
    <title>AdoptSpot - Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <%- include('includes/header.ejs') -%>
    <div class="center">
        <div class="menu">
            <ul>
                <li><a href="/" >Home</a></li>
                <!-- <li><a href="browse">Browse Available Pets</a></li> -->
                <li><a href="find" class="active">Find a dog/cat</a></li>
                <li><a href="dog-care">Dog Care</a></li>
                <li><a href="cat-care">Cat Care</a></li>
                <li><a href="createaccount">Create Account</a></li>
                <li><a href="giveaway">Have a pet to give away</a></li>
                <li><a href="contact">Contact Us</a></li>
                <% if (typeof authenticated !== 'undefined' && authenticated) {%>
                    <li><a href="logout">Logout</a></li>
                    <% } %>
            </ul>
        </div>
        <div class="content">
            <h1>Find a Pet</h1>
            <p>In order to find the pet that you want, please fill in the form below!</p>
            <form id="petSearch" method="GET" onsubmit="return validateSearch(this)" action='/browse' name="petSearch">
                <fieldset>
                    <legend>Pet search form</legend>

                    <label>Species: </label>
                    <input type="radio" name="species" id="speciesDog" value="dog" required>
                    <label for="speciesDog">Dog</label>
                    <input type="radio" name="species" id="speciesCat" value="cat">
                    <label for="speciesCat">Cat</label><br><br>

                    <label for="breed">Breed:</label>
                    <input type="text" name="breed" id="breed">
                    <input type="checkbox" name="breed" id="dontCareBreed" value="dontCare">
                    <label for="dontCareBreed">No preference</label><br><br>

                    <label for="age">Preferred age: </label>
                    <select name="age" id="age">
                        <option value="0,1">0-1 years old</option>
                        <option value="2,5">2-5 years old</option>
                        <option value="6,10">6 to 10 years old</option>
                        <option value="11,99">11+ years old</option>
                    </select><br><br>

                    <label>Preferred sex: </label>
                    <input type="radio" id="male" value="male" name="sex" required>
                    <label for="male">Male</label>
                    <input type="radio" name="sex" id="female" value="female">
                    <label for="female">Female</label>
                    <input type="radio" name="sex" id="dontCareSex" value="dontCareSex">
                    <label for="dontCareSex">No preference</label><br><br>

                    <label>Must get along with: </label>
                    <input type="checkbox" name="getsAlong[]" id="getAlongDog" value="dogs">
                    <label for="getAlongDog">Dog</label>
                    <input type="checkbox" name="getsAlong[]" id="getAlongCat" value="cats">
                    <label for="getAlongCat">Cat</label>
                    <input type="checkbox" name="getsAlong[]" id="getAlongChildren" value="children">
                    <label for="getAlongChildren">Small children</label><br><br>

                    <button type="submit" form="petSearch">Search!</button>
                    <button type="reset" form="petSearch">Clear</button>
                </fieldset>
            </form>
        </div>
    </div>
    <%- include('includes/footer.ejs') -%>
    <script src="scripts/script.js"></script>
</body>

</html>