<!DOCTYPE html>
<html lang="en">

<head>
    <title>AdoptSpot - Privacy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <%- include('includes/header.ejs') -%>
    <div class="center">
        <div class="menu">
            <ul>
                <li><a href="/" >Home</a></li>
                <li><a href="browse">Browse Available Pets</a></li>
                <li><a href="find">Find a dog/cat</a></li>
                <li><a href="dog-care">Dog Care</a></li>
                <li><a href="cat-care">Cat Care</a></li>
                <li><a href="giveaway">Have a pet to give away</a></li>
                <li><a href="contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="content">
            <p>
                <b>Privacy Assurance: Your Information and Our Commitment</b><br><br>
                At AdoptSpot, we deeply value your privacy and are committed to safeguarding the information you entrust to us. We understand the importance of maintaining the confidentiality of your personal data and strive to uphold the highest standards of privacy protection.<br><br>
                <b>Your Information is Sacred:</b> Rest assured, we do not engage in the sale, trade, or misuse of your personal information to third parties. Whether you're browsing our website, submitting inquiries, or engaging with our services, your data remains strictly confidential.<br><br>
                <b>Transparency and Accountability:</b> We adhere to stringent privacy policies and practices to ensure the security and integrity of your information. Our protocols are designed to prevent unauthorized access, disclosure, alteration, or destruction of data.<br><br>
                <b>Protection Against Misinformation:</b> While we provide platforms for interaction, such as forums or comment sections, we do not assume responsibility for the accuracy of user-generated content. This includes information provided by pet owners or any other contributors. However, we are committed to promptly addressing any misinformation or inappropriate content brought to our attention.<br><br>
                <b>Your Rights Matter:</b> You have the right to access, correct, or delete your personal information stored on our platforms. Should you wish to exercise these rights or have any concerns about your privacy, please don't hesitate to contact us.<br><br>
                <b>Continuous Improvement:</b> We continuously review and update our privacy practices to ensure compliance with evolving regulations and to better protect your privacy. Your trust is paramount to us, and we will always strive to maintain it.<br><br>
                Thank you for entrusting us with your information. We are honored to serve you while prioritizing your privacy and security.<br><br>
                AdoptSpot Privacy Team

            </p>
    
        </div>
    </div>
    <%- include('includes/footer.ejs') -%>
    <script src="script.js"></script>
</body>

</html>